@use '../../../theme/variables.scss' as theme;

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    border-radius: 90px;
    margin: 5px;
    padding: 0px;


    li {
        width: 100%;
        background-color: theme.$secundary-color;
        align-items: start;
        display: flex;
        border-radius: 90px;

        &:hover {
            background-color: theme.$secondary-color-light;
            box-shadow: -20px 0 2em theme.$detail-color2, 20px 0 2em theme.$detail-color1;
            transform: scale(1.01);
        }
    }

    .dropdownItem {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-inline-end: 1vw;
        box-sizing: border-box;

        img {
            border-radius: 1em;
        }

        .noImage {
            padding-inline: 1em;
        }

        .title {
            padding-left: 1em;
            width: 80%;
        }

        .item {
            margin: auto;
        }
    }


    .link {
        width: 100%;
    }
}