@use '../../theme/variables.scss' as theme;

.main {
    padding: 8em;
}

.iconSvg {
    width: 70px;
}

.name {
    font-size: clamp(1.5em, 4vw, 3em);
}

.div {
    height: auto;
    border-style: solid;
    border-radius: 1em;
    border-color: theme.$secundary-color-light;
    padding: 1em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: theme.$secundary-color;

    @media (max-width:700px) {
        min-width: 330px;
    }
}

.banner {
    display: flex;
    flex-direction: row;
    width: 100%;
}

// .swiper{
//     padding: 1em;
// }

.listDiv {
    width: 100%;
}

.list {
    display: flex;
    gap: 1em;
    width: 100%;
    overflow-x: scroll;
    row-gap: 0;
}

.card {
    min-width: 250px;
    max-width: 250px;
    height: 380px;
    margin-block: 0.5em;
}

.listTitle {
    font-size: 30px;
    margin: 0;
}

.btn {
    min-width: 250px;
    height: 380px;
    margin: auto;
    margin-block: 0.5em;
    border-radius: 2em;

    @media (max-width: 800px) {
        border-radius: 0.5em;
    }
}

@media (max-width: 1300px) {
    .list {
        flex-wrap: wrap;
    }
}

@media(max-width: 780px) {
    .card {
        min-width: 150px;
        max-width: 150px;
        max-height: 230px;
    }

    .btn {
        min-width: 150px;
        max-width: 150px;
        max-height: 230px;
    }
}

@media(max-width: 737px) {
    .list {
        flex-wrap: nowrap;
    }

    .card {
        min-width: 150px;
        max-width: 150px;
        max-height: 230px;
    }

    .btn {
        min-width: 150px;
        max-width: 150px;
        max-height: 230px;
    }
}