.grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;

  &>main {
    grid-row: 1;
    height: auto;
    min-height: 900px;
  }

  &>header {
    z-index: 5;
    position: fixed;
  }

  &>footer {
    grid-row: 2;
  }
}