@use './variables.scss' as theme;



%btn {
  width: auto;
  height: auto;
  padding: auto;
  margin: 0.5rem;
  border-radius: 80px;
  border-style: solid;
  background-color: theme.$secundary-color;
  color: theme.$tertiary-color;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    border-color: theme.$detail-color1;
  }
}

.btn {
  @extend %btn;
}

.btnOff {
  @extend %btn;
  color: theme.$tertiary-color;
  cursor: default;

  // pointer-events: none;
  &:hover {
    transform: none; // Remove scale effect
    border-color: theme.$secundary-color;
    box-shadow: none;
  }
}

.btnTransparent {
  @extend %btn;
  background-color: rgba(theme.$secundary-color, 0.6);
  border-color: rgba(theme.$tertiary-color, 0.1);
  color: rgba(theme.$tertiary-color, 0.8);
}

.favorite {
  border-radius: 2em;
  padding: 0.5em;
  color: theme.$tertiary-color;

  &:hover {
    transform: scale(1.1);
    border: none;
    box-shadow: 0 0 1em theme.$detail-color2;
  }
}

.button {
  margin-inline: 0.5em;
  background-color: rgba(theme.$primary-color, 0.5);
  border-color: theme.$tertiary-color;
  color: theme.$tertiary-color;
  cursor: pointer;


  &:hover {
    box-shadow: 0 0 1em theme.$tertiary-color;
    border-color: theme.$tertiary-color;
  }
}