@use '../../styles/variables.scss' as style;

.display-movie {

    border-radius: 2em;
    background-color: style.$secondary-color-light;
    margin-inline: 10%;
    width: 85%;
    height: 400px;
    transition: all 0.3s ease;

    &:hover{
        box-shadow: -0.5em 0 2em style.$detail-color2, 0.5em 0 2em style.$detail-color1;
        transform: scale(1.05);
    }


    img {
        border-radius: 2em;
        max-height: 90%;
        box-shadow: -0.5em 0 2em style.$detail-color2, 0.5em 0 2em style.$detail-color1;
    }

    &__card {
        display: flex;
        flex-direction: row;
        height: 100%;

        .image-caption {
            display: flex;
            flex-direction: column;
            justify-content: end;
            justify-content: flex-end;
            flex: 1;
            min-height: 90%;
            max-height: 95%;
            margin-left: 3em;
            color: style.$tertiary-color;


            .movie-title {
                margin: 0;
                font-size: clamp(1.5em, 4vw, 4em);
            }

            .movie-info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

            }

            p {
                font-size: clamp(0.5em, 2vw, 1.2em);
            }
        }



        @media (max-width: 767px) {
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 0;
                box-shadow: none;
            }

            .image-caption {
                position: relative;
                z-index: 1;
                width: 10%;
                margin: 0;
                background: linear-gradient(to top,
                        style.$secondary-color-light 10%,
                        transparent 100%);


                .movie-title {
                    margin: 0;
                }
            }


        }
    }




}

