@use '../../styles/variables.scss' as style;

.display-movie {
  border-radius: 2em;
  background-color: style.$secondary-color-light;
  margin: 3em auto;
  width: 85%;
  min-height: clamp(10vw, 800px, 35vw);
  transition: all 0.3s ease;

  @media (max-width: 800px) {
    min-height: 260px;
    padding-bottom: 1em;
  }

  &:hover {
    box-shadow: -0.5em 0 2em style.$detail-color2, 0.5em 0 2em style.$detail-color1;
    transform: scale(1.05);
  }

  &__card {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 2em;
      background: linear-gradient(
        to top,
        style.$secondary-color-light 10%,
        transparent 100%
      );
      z-index: 1;
    }
  }

  &__image {
    border-radius: 2em;
    max-height: 100%;
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }

  &__caption {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    min-height: 90%;
    max-height: 95%;
    margin: 2em;
    color: style.$tertiary-color;

    &-title {
      margin: 0;
      font-size: clamp(1.5em, 4vw, 4em);
    }

    &-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &-overview {
      font-size: clamp(0.5em, 2vw, 1.2em);
    }

    p {
      font-size: clamp(0.5em, 2vw, 1.2em);
    }
  }
}