@use '../../theme/variables.scss' as theme;

.border{
    width: auto;
    height: auto;
    min-width: 200px;
    border-style: dotted;
    background-color: theme.$secundary-color;
    border-color: theme.$tertiary-color;
    border-radius: 1em;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.actor, .character{
    margin: 0;
}

.character{
    font-weight: lighter;
    font-style: italic;
}

.image{
    border-radius: 50em;
    max-height: auto;
    max-width: auto;
    object-fit: cover;
}