.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    justify-content: center;
    align-items: center;

    &Open {
        display: flex;
    }
}