.modal {
    display: none;
    position: fixed;
    width: 3005vw;
    height: 305vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    justify-content: center;
    align-items: center;

    &Open {
        display: flex;
    }
}