.modal {
    display: none;
    position: fixed;
    width: 115vw;
    height: 115vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    justify-content: center;
    align-items: center;

    &Open {
        display: flex;
    }
}