@use '../../theme/variables.scss' as theme;

.search {
  border-radius: 80px;
  padding-inline: 15px;
  border-color: theme.$tertiary-color;
  border-style: solid;
  color: theme.$tertiary-color;
  background-color: rgba(theme.$primary-color, 0.7);
  resize: none;
  width: clamp(50px, 30vw, 230px);
  height: 45px;
  font-size: clamp(20px, 2.5vw, 25px);
  white-space: nowrap;
  }

  .focus {
    transition: all 0.3s ease;

    &:focus {
      transform: scale(1.01);
      outline: none;
      // font-size: clamp(22px, 3.2vw, 25px);
      box-shadow: -20px 0 2em theme.$detail-color2, 20px 0 2em theme.$detail-color1;
    }

  &.large {
    width: 80%;

    &:focus {
      width: 95%;
    }
  }
}

.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100%;
}