@use './styles/variables.scss' as style;

@use './styles/button';

#root {
  color: style.$tertiary-color;
  background-color: style.$primary-color;
}






.main-app {
  background-color: style.$primary-color;
  height: 100%;
  width: calc(100% - 100px);
  margin: 30px;
  box-sizing: border-box;
}

