// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

$primary-color: #201D20;
$secundary-color: #2D341D;
$tertiary-color: #EAE0D5;


#root {
  color: $tertiary-color;
  background-color: $primary-color;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


header {
  display: flex;
  justify-content: center;
  background-color: $secundary-color;
  background: $secundary-color;
  background: linear-gradient(0deg, rgba(245, 245, 245, 0) 0%, rgba(45, 60, 29, 1) 100%);
  width: 100%;
  height: 60%;
  padding-block-start: 1vw;
  padding-inline: 1vw;
  box-sizing: border-box;


  >div {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header__search {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .header__logo{
    font-size: small;
  }

  

  .header__account {
    display: flex;
    justify-content: flex-end;
    .icon-svg {
      width: 70px;
    }
  }

  @media (max-width: 600px) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
      'logo account'
      'search search';
    width: 100%;
    box-sizing: border-box;


    .header__logo {
      grid-area: logo;
      display: flex;
      align-items: center;
      font-size: 8px;

      .icon-svg {
        width: 40px;
        flex-shrink: 0;
      }

    }

    .header__account {
      grid-area: account;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .icon-svg{
        width: 40px;
        flex-shrink: 0;
      }
    }

    .header__search {
      grid-area: search;
      display: flex;
      justify-content: center;
      width: 100%;
      
    }
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'nav nav data'
    'c c c';
  width: 100%;
  min-height: 130px;
  background-color: $secundary-color;
  font-size: clamp(15px,1vw,25px);

  nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-right: 1px solid $tertiary-color;
    margin-block: 10px;


    h3 {
      margin: 5px 5px 10px 5px;
      text-align: center;
    }

    ul {
      margin: 5px;
    }
  }

  aside {
    grid-area: data;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

  }

  small {
    grid-area: c;
    display: flex;
    justify-content: center;

  }

}

@mixin color-shadow($color: $tertiary-color) {
  filter: drop-shadow(0 0 10px $color);
}

.search {
  border-radius: 80px;
  padding-inline: 15px;
  align-content: center;
  border-color: $tertiary-color;
  color: $tertiary-color;
  background-color: $primary-color;
  resize: none;
  width: clamp(50px, 30vw, 230px);
  height: 40px;
  font-size: clamp(20px, 2.5vw, 25px);
  white-space: nowrap;

  &.--focus {
    transition: all 0.3s ease;

    &:focus {
      width: clamp(180px, 32vw, 400px);
      height: 45px;
      outline: none;
      font-size: clamp(22px, 3.2vw, 25px);
      box-shadow: -20px 0 2em purple, 20px 0 2em blue;;
    }
  }

  &.--large{
    width: 80%;

    &:focus{
      width: 95%;
    }
  }
}

.btn {
  width: auto;
  height: auto;
  padding: auto;
  margin: 5%;
  border-radius: 80px;
  @include color-shadow()

}

main {
  background-color: $primary-color;
  height: 100%;
  width: calc(100% - 100px);
  margin: 30px;
  box-sizing: border-box;
}

.icon-svg {
  width: 60px;
  flex-shrink: 0;
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100vw;
  height: 100vh;
  position: relative;

  main {
    grid-row: 1 / 4;
    z-index: 0;
    position: absolute;  
  }

  header {
    grid-row: 1 / 2;
    z-index: 1;
  }

  footer {
    grid-row: 4;
    z-index: 1;
  }
}