@use '../../theme/variables.scss' as theme;

.main{
    margin: auto;
    padding-block: 10em;

    // &>*{
    //     padding-inline: 5%;
    //     background-color: red;
    //     width: 90%;
    // }
}

.castTitle{
    width: 100%;
    text-align: center;
    background-color: theme.$secundary-color-light;
    margin-bottom: 0;
    padding-top: 1em;
}

.cast{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin: auto;
    background-color: theme.$secundary-color-light;
    padding-block: 2em;
}